.container {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  justify-content: center;
  align-content: center;
}

.cell {
  display: flex;
  border: 1px solid black;
  width: 25%;
  height: 30%;
}
